@{
    var cookieString = Request.Cookies["cookieString"]?.Value;
}

@if (string.IsNullOrEmpty(cookieString))
{
    <nav id="cookieConsent" class="navbar fixed-bottom" role="alert">
        <div class="container">
            <p class="navbar-text">
                Este sitio utiliza un cookies para una mejor experiencia de usuario.
            </p>
            <div class="navbar-right">
                <button id="cookieConsentbutton" type="button" class="btn btn-outline-info navbar-btn" data-cookie-string="@cookieString" onclick="aceptCookieConditions()">Aceptar</button>
            </div>
        </div>
    </nav>
}