@{
    //var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    //var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = "Este sitio utiliza cookies para una mejor experiencia de usuario.";//consentFeature?.CreateConsentCookie();
}

@if (true)
{
    <nav id="cookieConsent" class="navbar fixed-bottom" role="alert">
        <div class="container">
            <p class="navbar-text">
                Este sitio utiliza un cookies para una mejor experiencia de usuario.
            </p>
            <div class="navbar-right">
                @*<a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Leer más</a>*@
                <button type="button" class="btn btn-outline-info navbar-btn" data-cookie-string="@cookieString">Aceptar</button>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}