@model IEnumerable<PN.Models.Tag>
@{
    var service = new LanguagesService();
    var isAdmin = User.Identity.IsUserInRole("Admin");
    var isAutenticated = Request.IsAuthenticated;
    //var userId = User.Identity.GetUserInformationId();
    ViewBag.Title = service.TagTitle;
}

<h1 class="title">@ViewBag.forumName</h1>
<hr class="title" />
@*<div class="separator"></div>*@

@foreach (var tag in Model)
{
    var isSubcribed = false;
    //if (isAutenticated && tag.UsertagSubscription.Count > 0) // TODO: Sistema de suscripcion a temas
    //{
    //    isSubcribed = tag.UsertagSubscription.Any(m => m.UserId == userId);
    //}
    var btnClass = (isSubcribed) ? "btn-default" : "btn-info";
    <div class="box-button topic">
        <a href="~/@service.Language/@service.PostTitle/@ViewBag.forumName/@tag.Name">
            <img class="img-fluid" src="@Url.Content(tag.ImagePath)" alt="Imagen Tema" />
            <h3 class="text-center box-title">@tag.Name</h3>
        </a>
        <div class="btn-block btn-group-vertical" role="group">
            <a href="~/@service.Language/@service.TagTitle/@ViewBag.forumName/@tag.Name/Details" class="btn btn-info navbar-btn">Detalles</a>
            <a href="~/@service.Language/@service.TagTitle/@ViewBag.forumName/@tag.Name/Subscribe" class="btn @btnClass navbar-btn" onclick="Subcription(this)">Unirse</a>
        </div>
        <br />
        @if (isAdmin)
        {
            <div class="btn-group d-flex" role="group">
                <a href="~/@service.Language/@service.TagTitle/@ViewBag.forumName/@tag.Name/Edit" class="btn btn-info navbar-btn">Editar</a>
                <a href="~/@service.Language/@service.TagTitle/@ViewBag.forumName/@tag.Name/Delete" class="btn btn-info navbar-btn">Eliminar</a>
            </div>
        }
    </div>
}

<div class="box-button topic">
    <img class="img-fluid" src="~/Content/images/logo.svg" alt="Imagen Tema" />
    <a href="~/@service.Language/@service.TagTitle/@ViewBag.forumName/New/Create" class="btn btn-info navbar-btn">
        <h3>Crear un Tag</h3>
    </a>
</div>
<div class="clearfix"></div>
