/* -------------------------------- Cuerpo -------------------------------- */
body {
  
}

/* -------------------------------- Contenido -------------------------------- */
/* Set padding to keep content from hitting the edges */
.container.body-content {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

#page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content-main {
  flex: 1;
}

/* -------------------------------- Menú Lateral -------------------------------- */
#laterl-menue {

}

/* -------------------------------- Píe -------------------------------- */
#footer {
}

/* -------------------------------- Barra de Navegación -------------------------------- */
.navbar-header > a,
.navbar-header > .busqueda {
  opacity: 0.8;
}

.navbar-header > a:hover,
.navbar-header > .busqueda:hover {
  opacity: 1;
}

.nav > li {
  opacity: 0.8;
}

.nav > li:hover,
.nav > li:focus,
.navbar > li:hover,
.navbar > li:focus {
  opacity: 1;
}

/* -------------------------------- Barra de Busqueda -------------------------------- */
.main-search {
  flex-grow: 100;
}

.main-search > button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* -------------------------------- Botones y Mouse -------------------------------- */
.imagebutton:hover,
.box-button:hover {
  cursor: pointer;
}

label {
  cursor: inherit;
}

/* -------------------------------- PAGE -------------------------------- */
/* Páginas o secciones (div) que ocupán todo el alto de la ventana divididos en #regiones
   que se navegan con la rueda del ratón.
*/
.sector {

}

/* -------------------------------- TÍTULOS -------------------------------- */
h1.title {
  font-family: 'Copperplate Gothic Bold';
  text-align: center;
  margin-bottom: 5px;
}

hr.title {
  border: solid 4px;
  margin: 0px;
  margin-bottom: 20px;
}

div.separator {
  height: 4px;
  margin: 0px;
  margin-bottom: 20px;
}

/* -------------------------------- Cajas Botones -------------------------------- */
.box-button.topic {
  position: relative;
  display: block;
  float: left;
  border: solid 1px;
  /*marging: U R D L */
  margin: 0 2% 2% 0;
  width: 23%;
}

.box-title {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.3);
  fill-opacity: 0.5;
  padding: 5px 0;
}

.topic > h3 {
  margin: 10px 0px;
  text-align: center;
}

/* -------------------------------- INPUTS ----------------------------------- */
.description {
  min-height: 150px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

.img-input {
  min-height: 200px;
  min-width: 200px;
}

.form-group input[type=file] {
  display: none;
}