<div id="lastRead" class="container">
    <h3>Última lectura</h3>
    <p id="resume" class="blockquote">
        BIenvenido a la comunidad de Notas Profesionales.
        Aquí encontraras, documentaciones actualizadas,
        tips profecionales, comentarios, y mucho más.
    </p>
    <button type="button" class="btn btn-info navbar-btn pull-right">Seguir Leyendo</button>
</div>
