@model PN.Models.Post

<div id="lastRead" class="container">
    <h3>Última lectura</h3>
    <p id="resume" class="blockquote">
        @Markdown.ParseHtmlString(Model.Body)
    </p>
    <a href="Articulos/Details/" class="btn btn-info navbar-btn pull-right">Seguir Leyendo</a>
</div>
