
@{
    ViewData["Title"] = "Edición";
}

<h2>Editor</h2>
<span class="dropdown-menu-left">Contenido</span>
<form action="send" method="post">
    <label for="title">Título</label>
    <input id="title" type="text" name="title" placeholder="Título" />
    <div>
    <label for="content">Contenido</label>
        <partial name="~/Views/Partial/_styleMenu.cshtml"/>
        <input id="content" type="text" name="content" placeholder="Contenido" />
    </div>
    <div id="preview" class="container table-bordered">Vista Previa</div>
    <div class="btn-block">
        <button class="btn-danger">Cancelar</button>
        <button class="btn-success">Enviar</button>
    </div>
</form>
