@model IEnumerable<PN.Models.Forum>
@{
    ViewBag.Title = "Inicio";
}

<div class="container">
    @{
        Html.RenderPartial("_LastRead");
        Html.RenderPartial("_Forums", Model);
        Html.RenderPartial("_AboutUs");
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}