@model PN.Models.HomeViewModel
@{
    ViewBag.Title = "Inicio";
}

<div class="container">
    @{
        if (Request.IsAuthenticated && Model.LastPostRead != null)
        {
            Html.RenderPartial("_LastRead", Model.LastPostRead);
        }
        Html.RenderPartial("_Forums", Model.Forums);
        Html.RenderPartial("_AboutUs");
    }
</div>

@section Scripts {
    <script type="text/javascript">
            console.log("Solo me ejecuto en la página de inicio.");
    </script>
}